@import "./../../styles/vars.scss";
@import "./../../styles/mixings.scss";

// extend classes

.soccer__goals {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 128px;
    height: 43px;
    border: 2px $super-dark solid;
    display: flex;
    p {
        text-align: center;
    }
}

// end extend classes

.soccer__field {
    width: 315px;
    min-height: 420px;
    margin: 20px auto 15px;
    position: relative;

    background: RGB(0, 237, 100, 0.8);
    border: 6px solid $dark;
    border-radius: 32px;

    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 19px;
    color: $super-dark;
}

.soccer__top__goals {
    @extend .center;
    @extend .soccer__goals;
    top: 0;
    text-transform: uppercase;
}

.soccer__bottom__goals {
    @extend .center;
    @extend .soccer__goals;
    font-weight: 1.5rem;
    bottom: 0;
    margin: auto;
}

.soccer__midLine {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0px;
    border: 0.5px $super-dark solid;
    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border: 0.5px $super-dark solid;
        border-radius: 50%;
        color: $white;
        cursor: pointer;
        &__top {
            animation: moveBall_bottom 1s ease-in-out infinite alternate-reverse;
            animation-delay: 0.5s;
            position: absolute;
            top: 5px;
        }
        &__bottom {
            animation: moveBall_bottom 1s ease-in-out infinite alternate-reverse;
            position: absolute;
            bottom: 5px;
        }
        &__active {
            background: $red;
        }
    }
}

.soccer__content {

    .ul__style {
        margin-top: 38px;
        display: flex;
        justify-content: space-around;
    }

    .first__list {
        @extend .ul__style;
    }

    .second__list {
        @extend .ul__style;
        margin-bottom: 40px;
    }

    li {
        padding: 2px 0;
        font-size: 1rem;
        display: block;;
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

@keyframes moveBall_top {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveBall_bottom{
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}