@import "./../../styles/vars.scss";

.modal {
    width: 300px;
    height: auto;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: $dark;
    padding: 10px 20px;
}

.cls__btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10%;
    right: 10%;
    color: $white;
    z-index: 999;
}