@import "./../../styles/vars.scss";

.modal {
    width: 300px;
    height: auto;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: $dark;
    padding: 10px 20px;
}