@import "./../../styles/vars.scss";

.modal {
    width: 300px;
    height: auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: $dark;
    padding: 10px 20px;
}

.modal__bottom {
    @extend .modal;
    bottom: 40px;
}

.modal__top {
    @extend .modal;
    top: 80px;
}

.animate_top_UP {
    animation: animate_UP 0.2s forwards;
}

.animate_top_DOWN {
    animation: animate_UP 0.2s reverse;
}

.animate_bottom_UP {
    animation: animate_DOWN 0.2s forwards;
}

.animate_bottom_DOWN {
    animation: animate_DOWN 0.2s reverse;
}

.cls__btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10%;
    right: 10%;
    color: whitesmoke;
    cursor: pointer;
    z-index: 999;
}

@keyframes animate_UP {
    0% {
        opacity: 0;
        top: 0;
    }

    50% {
        opacity: 0.2;
        top: 40px
    }

    90% {
        opacity: 0.3;
        top: 90px
    }

    100% {
        opacity: 1;
        top: 90px
    }
}

@keyframes animate_DOWN {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}