@import "./../../../styles/vars.scss";

.switch {
    position: relative;
    height: 30px;
    width: 40px;
    background-color: $grey;
    border-radius: 33px;
    transition: all 0.1s linear;

    &__active__background {
        display: block;
        position: absolute;
        left: 0%;
        top: 0;
        width: 0;
        height: 0;
        background: $red;
        border-radius: 33px;
        transition: all 0.1s linear;
    }

    &__nob {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
        border-radius: 50%; 
        background: $yellow;
        border: 1px solid $white;
        transition: all 0.1s linear;
    }
}

.active__nob {
    left: 55%;
}

.active__background {
    height: 30px;
    width: 40px;
}